header{
    background-color: blueviolet;
    color: white;
    width: 100%;
}

footer{
    background-color: blueviolet;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

input{
    background-color: white;
    color: gray;
    position: relative;
    left: 70vw;
    bottom: 25px;
    
}

h1{
    position: relative;
    top: 20px;
}

.div{
    display: grid;
    grid-template-rows: 150px 30px 150px 30px;
    grid-template-columns: 200px 200px 200px 200px;
    row-gap: 50px;
    column-gap: 5px;
   

}
.tamanhoImagem{
    height: 150px;
    width: 200px;
}




@media screen and (max-device-width : 480px) { 
.div{
    display: flex;
    flex-direction:column
}

.video{
    width: 100vw;
}
    
footer{
    width: 100vw;
}

header{
    width: 100vw;
}

input{
    left: 60vw
}


}
