
header{
    background-color: mediumvioletred;
    padding: 10px;
    
}

.div1{
    background-color: #f2d0e0;
    width: 10%;
    height: 500px;
  
}

footer{
    background-color: mediumvioletred;
    padding: 5px;
    text-align: center;
    
}

.tamanhoImagem{
    height: 15px;
    width: 15px;
    padding: 0 10px;
}

.tamanhoImagem1{
    height: 15px;
    width: 15px;
}

.tamanhoImagem2{
    height: 15px;
    width: 15px;
}

.tamanhoImagem3{
    height: 150px;
    width: 150px;
    text-align: end;
}

.topPagina{
    display: inline; ;
    
}

.botaoFinal{
    position: relative;
    left: 1100px
}

.div2{
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    row-gap: 50px;
    column-gap: 50px;
    
}
.inline{
    display: inline;
}

